<!DOCTYPE html>
<html>
<head>
	<title>Rooms-Guests</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		#details{
			text-align:center;
			margin-top:15%;
		}
		#room_details{
			color: black;
		}
		#guest_details{
			color: black;
		}
		a{
			font-size: 17px;
			color: black;
			padding:4px;
		}
	</style>
	<script>

		$(document).ready(function(){

		//csrftoken cookie
    	function getCookie(c_name)
		{
		    if (document.cookie.length > 0)
		    {
		        c_start = document.cookie.indexOf(c_name + "=");
		        
		        if (c_start != -1)
		        {
		            c_start = c_start + c_name.length + 1;
		            c_end = document.cookie.indexOf(";", c_start);
		            if (c_end == -1) c_end = document.cookie.length;
		            return unescape(document.cookie.substring(c_start,c_end));
		        }
		    }
		    return "";
		 }

		//ajax setup
		$(function () {
		    $.ajaxSetup({
		        headers: { "X-CSRFToken": getCookie("csrftoken") }
		    });
		});

		//rooms dec,inc
		
		
		$('#roomsinc').click(function(){
			var rooms = $('#rooms').text();
			var guests = $('#guests').text();
			$.ajax({
					url:'/roomsinc', 
					type:'POST', 
					data:{'rooms':rooms, 'guests':guests}, 
					success: function(data){
					console.log(data);
					item = JSON.parse(data);
					
					$('#rooms').text(item['rooms']);
					$('#guests').text(item['guest']);

        			
    				},
    			});
		});
		$('#roomsdec').click(function(){
			var rooms = $('#rooms').text();
			var guests = $('#guests').text();
			$.ajax({
					url:'/roomsdec', 
					type:'POST', 
					data:{'rooms':rooms, 'guests':guests}, 
					success: function(data){
					console.log(data);
					item = JSON.parse(data);
					
					$('#rooms').text(item['rooms']);
					$('#guests').text(item['guest']);

    				},
    			});
		});

		//guest inc, dec
		$('#guestinc').click(function(){
			var rooms = $('#rooms').text();
			var guests = $('#guests').text();
			$.ajax({
					url:'/guestinc', 
					type:'POST', 
					data:{'rooms':rooms, 'guests':guests}, 
					success: function(data){
					console.log(data);
					item = JSON.parse(data);
					
					$('#rooms').text(item['rooms']);
					$('#guests').text(item['guest']);

        			
    				},
    			});
		});
		$('#guestdec').click(function(){
			var rooms = $('#rooms').text();
		var guests = $('#guests').text();
			$.ajax({
					url:'/guestdec', 
					type:'POST', 
					data:{'rooms':rooms, 'guests':guests}, 
					success: function(data){
					console.log(data);
					item = JSON.parse(data);
					
					$('#rooms').text(item['rooms']);
					$('#guests').text(item['guest']);

        			
    				},
    			});
		});
});
	</script>
<body>

<div id="details">
	<div id="room_details">
	Rooms : <a id="rooms" data="{{room}}">{{ room }}</a></span>
		<input class='btn' type='button' value="+" id="roomsinc"/>	
		<input class='btn' type='button' value="-" id="roomsdec"/>
	</div>
	<br/>
	<div id="guest_details">
	Guests : <a id="guests" data="{{guest}}">{{ guest }}</a>
		<input class='btn' type='button' value="+" id="guestinc"/>
		<input class='btn' type='button' value="-" id="guestdec"/>
	</div>
</div>
</body>
</html>